#patientrecodoss{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      flex-wrap: wrap;
      margin-top: 3rem;
}