ul {
    list-style: none;
  }
  ul li {
    display: inline-flex;
  }
  /* ul li:first-child{
      margin-right: 60px;
    }
     ul li:nth-child(2){
      margin-right: 20px;
    }  */
  .aboutus {
    margin-top: 5rem;
    margin-left: 10%;
    margin-right: 10%;
  }
  .firstSec,.secSection {
    position: relative;
    left: 2rem;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    /* margin-left: 150px;
      margin-top: 50px; */
  }

  .titelAboutus{
 margin-bottom: 10%;
    top: 5%;
    left:40%;
  }
  
  .memberCard {
    box-sizing: border-box;
    border: 5px rgb(194, 184, 184) solid;
    overflow: hidden;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
  }
  
  .container {
    margin: auto;
    display: flex;
  }
  
  .main-container {
    width: 270px;
    height: 400px;
    position: relative;
    /* margin: 0 20px; */
  }
  
  .imgcontainer {
    width: 230px;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 9999;
  }
  
  .photo {
    width: 100%;
    height: 250px;
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
  }
  
  .bodycontainer {
    background: #fff;
    width: 270px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
    opacity: 0;
  }
  
  .main-container:hover .bodycontainer {
    opacity: 1;
    animation: bounceIn 0.6s linear;
  }
  
  @keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.01, 1.01, 1.01);
      transform: scale3d(1.01, 1.01, 1.01);
    }
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
      opacity: 1;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  
  .codycontent {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
  }
  
  .name {
    text-transform: uppercase;
    margin-bottom: 5px;
    position: relative;
    top: 35px;
  }
  
  .major {
    color: #999;
    font-size: 0.9rem;
    margin-bottom: 20px;
    position: relative;
    top: 32px;
  }
  
  .socialmedia {
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
    top: 10px;
  }
  
  .socialmedia a {
    color: #252422;
  }
  