.signin{
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    margin-top: 200px;
}
.signin h1 {
    text-align: center;
}

.signup{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}